{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="container-body-author">
        <h3>Authors</h3>
        <p>System Programming A - 2020</p>
        <p>Kelompok jagung_manis</p>
        <p>1. Evando Wihalim - 1806205445</p>
        <p>2. Jovi Handono Hutama - 1806205161</p>
        <p>3. Michael Susanto - 1806205653</p>
    </div>
</div>
{% endblock %}