{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block header %}{% endblock %}
    <title>Jagung Manis</title>
</head>
<body>
    <div class="container-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'homeapp:home_url' %}">jagung_manis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
              {% with url_name=request.resolver_match.url_name %}
                <li class="nav-item {% if url_name == 'home_url' %} active {% endif %} ">
                  <a class="nav-link" href="{% url 'homeapp:home_url' %}">Home</a>
                </li>
                <li class="nav-item {% if url_name == 'ethernet_url' %} active {% endif %} ">
                  <a class="nav-link" href="{% url 'homeapp:ethernet_url' %}">Ethernet</a>
                </li>
                <li class="nav-item {% if url_name == 'sound_url' %} active {% endif %} ">
                  <a class="nav-link" href="{% url 'homeapp:sound_url' %}">Sound</a>
                </li>
                <li class="nav-item {% if url_name == 'about_url' %} active {% endif %} ">
                  <a class="nav-link" href="{% url 'homeapp:about_url' %}">About Us</a>
                </li>
              {% endwith %}
              </ul>
            </div>
          </nav>
    </div>

    {% block content %}{% endblock content %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>