{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h1>Configure Ethernet</h1>
</div>
<div class="container mx-auto">
    <div class="container-body-main">
        <h3>Your Network Devices & Drivers</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Device</th>
                <th scope="col">Address</th>
                <th scope="col">Driver</th>
                <th scope="col">Status</th>
                <th scope="col">Advertised Link Modes</th>
              </tr>
            </thead>
            <tbody>
	      {% if devices %}
	      {% for dev in devices %}
              <tr>
		      <td>{{ dev.dev_name }}</td>
		      <td>{{ dev.addr }}</td>
		      <td>{{ dev.driver }}</td>
		      <td>{{ dev.status }}</td>
		      <td>{{ dev.alm }}</td>
              </tr>
	      {% endfor %}
	      {% endif %}
	    </tbody>
        </table>

        <form class="capacity-form" action="{% url 'homeapp:ethernet_url' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="device_name">Device Name</label>
                <input type="text" class="form-control" id="device_name" placeholder="Enter device name" name="device_name" required>
            </div>
            <div class="form-group">
                <p>Speed (Mbps)</p>
                <label class="radio-inline"><input type="radio" name="speed" value="10" required>10</label>
                <label class="radio-inline"><input type="radio" name="speed" value="100">100</label>
                <label class="radio-inline"><input type="radio" name="speed" value="1000">1000</label>
            </div>
            <div class="form-group">
                <p>Duplex</p>
                <label class="radio-inline"><input type="radio" name="duplex" value="half" required>Half</label>
                <label class="radio-inline"><input type="radio" name="duplex" value="full">Full</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
{% endblock %}
