{% extends 'base.html' %}
{% load static %}
{% block header %} {% endblock %}

{% block content %}
<div class="container mx-auto">
    <h1>Welcome to Jagung Manis Driver</h1>
</div>
<div class="container mx-auto">
    <div class="container">
        <p>Welcome!</p>
        <p>This web app will be run inside a virtual machine, 
            to serve as User Interface for managing network driver e1000 and PCI soundcard driver. 
            This web app can change speed and duplex of an ethernet device with ethtool 
            (tool to modify ethernet driver), and adjust audio system volume from amixer 
            (tool to modify soundcard driver)
        </p>
    </div>
</div>
{% endblock %}