{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h1>Configure Sound</h1>
</div>
<div class="container mx-auto">
    <div class="container-body-main">
        <h3>Sample sound</h3>
	<form action="{% url 'homeapp:sound_url' %}" method="POST">
	{% csrf_token %}
            <button type="submit" class="btn btn-outline-primary" value="play" name="play_button">Play</button>
	</form>        

        <h3>Configure volume</h3>
        <form action="{% url 'homeapp:sound_url' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="volume_level">Volume (level)</label>
                <input type="number" class="form-control" id="volume_level" name="volume_level" placeholder="Enter volume level" required min="-100" max="100">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
{% endblock %}
